2024/9/19 學習分析工具實用 上課練習

輸出練習

In [ ]:
print('Hello World!')

Hello World!

變數練習

In [ ]:
a=1
print(a)

1

In [ ]:
a=1
b=c=a
print(a,b,c)

1 1 1

In [ ]:
a=1
b=a
a=2
print(a,b)

2 1

字串練習

In [ ]:
print("ooxx is my name")
print('"ooxx" is my name')
a="""ooxx
is
my
name"""
print(a)

ooxx is my name
"ooxx" is my name
ooxx
is
my
name

In [ ]:
a="0123456789abcdef"
print(a[0])
print(a[3])
print(a[8])
print(a[-1])
print(a[:])
print(a[5:])
print(a[:5])
print(a[5:10])
print(a[5:-3])
print(a[5:10:2])
print(a[5:12:2])

0
3
8
f
0123456789abcdef
56789abcdef
01234
56789
56789abc
579
579b

In [ ]:
a='hello world'
print(len(a))
b='hello world, i am ooxx, how are you?'
print(len(b))
print(b.split(','))
print(b.split(' '))
print(b.split())

11
36
['hello world', ' i am ooxx', ' how are you?']
['hello', 'world,', 'i', 'am', 'ooxx,', 'how', 'are', 'you?']
['hello', 'world,', 'i', 'am', 'ooxx,', 'how', 'are', 'you?']

In [ ]:
a='hello '
b='world'
print(a+b)
print(a*3)

hello world
hello hello hello

串列練習

In [ ]:
a=['apple','banana','orange']
b=[1,2,3,4,5]
c=['apple',1,2,3,['dog','cat']]
d=list('apple')
print(a,b,c,d)
print(f"a={a}\nb={b}\nc={c}\nd={d}")

['apple', 'banana', 'orange'] [1, 2, 3, 4, 5] ['apple', 1, 2, 3, ['dog', 'cat']] ['a', 'p', 'p', 'l', 'e']
a=['apple', 'banana', 'orange']
b=[1, 2, 3, 4, 5]
c=['apple', 1, 2, 3, ['dog', 'cat']]
d=['a', 'p', 'p', 'l', 'e']

tuple練習

In [ ]:
t=('apple','banana','orange')
a,b,c=t
print(a,b,c)
print(t[0])
print(t[1])
print(t[2])
t2=('pineapple','grap')
print(t+t2)

apple banana orange
apple
banana
orange
('apple', 'banana', 'orange', 'pineapple', 'grap')

dict練習

In [ ]:
a=dict(name='ooxx',age=18,eat=['apple','banana'])
print(a)
print(a['name'])
print(a['age'])
print(type(a))

{'name': 'ooxx', 'age': 18, 'eat': ['apple', 'banana']}
ooxx
18
<class 'dict'>

set練習

In [ ]:
a=set()
b=set([1,2,3,4,5,1,2,3,4,5])
c=set({'x':1,'y':2,'z':3})
d=set('hello')
print(a)
print(b)
print(c)
print(d)

set()
{1, 2, 3, 4, 5}
{'z', 'x', 'y'}
{'l', 'h', 'o', 'e'}

比較運算練習

In [ ]:
a=2
b=3
if a>b:
  print('Hello')
print('ok')

ok

In [ ]:
a=2
b=3
if a>b:
  print('Hello')
else:
  print('world')
print('ok')

world
ok

In [ ]:
a=2
b=3
if a<b:
  print('a<b')
  if a==1:
    print('a=1')
  elif a==2:
    print('a=2')
  elif a==3:
    print('a=3')
elif a>b:
  print('a>b')
else:
  print('a=b')
print('ok')

a<b
a=2
ok

邏輯判斷練習

In [ ]:
a=2
b=3
c=0
if a>b or a<c and a==2 or b==4:
  print('ok1')
else:
  print('XXX')

XXX

迴圈練習

In [ ]:
for a in ['x','y','z']:
  for b in [1,2,3]:
    print(b)
  print(a)

1
2
3
x
1
2
3
y
1
2
3
z

In [ ]:
for a in ['x','y','z']:
  for b in [1,2,3]:
    print(f"{a}{b}")

x1
x2
x3
y1
y2
y3
z1
z2
z3

In [ ]:
i=[]
for t in range(10):
  t+=1
  i.append(t)
print(i)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

try、except練習

In [1]:
try:
  a=int(input('輸入數字: '))
  print(a+1)
except:
  pass
print('hello')

輸入數字: 1
2
hello

加分題串列生成式

In [ ]:
a=[]
for i in range(1,10):
  a.append(i*i)
print(a)

b=[j*j for j in range(1,10)]
print(b)

c=[k+2 for k in range(10)]
print(c)

[1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 4, 9, 16, 25, 36, 49, 64, 81]
[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]